 <div class="header-background">
    <div class="h-100  float-left  w-25">
        <div class="d-flex h-100 align-items-center justify-content-center" style="min-height:250px">
            <img class="image-logo" src="/images/logo.png" />
        </div>
    </div>
    <div class="float-left  w-25 mt-4 p-2">
        <b>Các mặt hàng liên qua</b>
        <br />
        <br />
        <a class="p-2 badge badge-info mt-1" (click)="click()" [routerLink]="['/more-product','Thịt Bò']">Thịt bò</a>
        <a class="p-2 badge badge-info mt-1" (click)="click()" [routerLink]="['/more-product','Thịt Gà và Trứng']">Trứng</a>
        <a class="p-2 badge badge-info mt-1" (click)="click()" [routerLink]="['/more-product','Thủy Sản']">Cá biển</a>
        <a class="p-2 badge badge-info mt-1" (click)="click()" [routerLink]="['/more-product','Thịt Heo']">Thịt heo</a>
        <a class="p-2 badge badge-info mt-1" (click)="click()" [routerLink]="['/more-product','Hải Sản']">Thịt</a>
        <a class="p-2 badge badge-info mt-1" (click)="click()" [routerLink]="['/more-product','Thịt Gà và Trứng']">Cá nước ngọt</a>
        <a class="p-2 badge badge-info mt-1" (click)="click()" [routerLink]="['/more-product','Thịt Gà và Trứng']">Rau củ quả</a>
        <a class="p-2 badge badge-info mt-1" (click)="click()" [routerLink]="['/more-product','Thịt Gà và Trứng']">Rau sống</a>
    </div> 
    <div class="float-left  w-25 mt-4">
        <b>   Giờ mở cửa</b>
        <br />
        <br />
        <p>Từ thứ hai-sáu , từ 9h sáng tới 7h tối </p>
        <p>Thứ bảy từ 10h sáng tới 5h tối</p>
        <p>Chủ nhật nghỉ</p>
    </div>
    <div class="float-left  w-25 mt-4">
        <b>   Liên hệ</b>
        <br />
        <br />
        <p>Gmail : toilahoi007@gmail.com </p>
        <p>Điên thoại : 01665240627</p>
        <p>Địa chỉ :123 Trần Quang Khải Q.1 TP.HCM</p>
    </div>
     <div class="clearfix"></div>
     <div  class="text-center w-100 ">
         <small>
             Coppyright @ 2017 CuaHangRauSachHaiLua
         </small>
     </div>
</div>
