

<div class="card w-100">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th class=" text-center"></th>
                <th class="text-center">Tên</th>
                <th>Mô tả</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplier of suppliers; let i =index">
                <th class=" text-center" scope="row">{{i}}</th>
                <td class=" text-center"> {{supplier.name}} </td>
                <td>{{supplier.description}}</td>
            </tr>

        </tbody>

    </table>


</div>
