<div class="card" style=" height: 430px; margin-top: 30px;">
    <div class="card" style="height: 45px;">
        <div style="padding-left: 10px; font-size: 20px; font-weight: bold; background-color:#7fb428; height: 100%; color: white; padding:10px">{{title}}</div>

    </div>

    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let item of products"
             class="product">

            <card [product]="item"></card>

        </div>
    </ngx-slick>

</div>