

<div class="card w-100">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th class=" text-center"></th>
                <th class=" text-center">Người đặt</th>
                <th class="text-center">Chi tiết đơn hàng</th>
                <th class="text-center">Tổng giá</th>
                <th class="text-center">Địa chỉ giao hàng</th>
                <th class="text-center">Trạng thái</th>
                <th class="text-center">Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders |sort :'dec'; let i =index">
                <th class=" text-center" scope="row">{{i+1}}</th>
                <td class=" text-center">
                    {{order.shipping.userName}}
                </td>
                <td class="text-center">
                    <div *ngFor="let  item of order.orderedItems" class=" d-flex justify-content-between">
                        <div>{{item.product}}</div>
                        <div>{{item.quantity}}</div>
                    </div>
                </td>
                <td class="text-center">    {{order.shipping.charge}}<sup>đ</sup></td>

                <td class="text-center">    {{order.shipping.ward}}     {{order.shipping.district}}     {{order.shipping.city}}</td>
                <!--<td class=" text-center">    {{order.shipping.shippingState===0?'Chưa giao hàng':'Đã giao hàng'}}</td>-->
                <td class="text-center">
                    <label class="switch">
                        <input type="checkbox" [checked]="order.shipping.shippingState===1" (change)="changeStateShipping(order.shipping.id)">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td class=" text-center">
                    <button  class="btn btn-outline-success"  (click)="deleteOrder(order.id)" >Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
