.background {
    background-color: #F2F2F2;
    height: 40px;
    padding: 10px 10px;
    font-size: 13px;
}


.cart {
    height: 50px;
    width: 50px;
}


.logo {
    height: 80px;
}


.nav {
    clear: both;
}

    .nav ul {
        list-style-type: none;
        margin: 0;
        width: 100%;
        background-color: rgb(127, 180, 40);
    }

        .nav ul li {
            float: left;
            color: white;
        }

            .nav ul li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                .nav ul li a:hover {
                    background-color: rgb(127, 180, 1);
                }



.search {
    min-width: 300px;
    width: 40%;
    padding-left: 20px;
    height: 45px;
    margin-left: 50px;
    border-radius: 10px;
}


.height {
    height: 20px;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0px;
    width: 120%;
}

#menuLogin {
    text-decoration: none;
}

    #menuLogin a:hover {
        background-color: rgb(127, 180, 1);
    }

    #menuLogin a {
        display: block;
        text-align: left;
    }

.dropdown-menu {
    margin: 0px;
    padding: 0px;
}

.display {
    display: none;
    position: absolute;
    top: 115px;
    right: 0px;
    z-index: 10000;
    color: black;
}

.mini-shopingcart:hover div.display {
    display: block;
}

.quantity {
    position: relative;
    top: -20px;
    right: 20px;
}

.notShow {
    display: none;
}

.show {
    display: block;
}

.back {
    background-color: aqua;
}


a {
    cursor: pointer
}
